<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <br>
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" placeholder="enter catchy title" name="listing[title]" class="form-control" required>
                    <div class="invalid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>



                <div class="mb-3">
                    <label for="image" class="form-label">Upload listing Image</label>
                    <input id="image" type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" placeholder="1200" name="listing[price]" required class="form-control">
                        <div class="invalid-feedback">Please enter price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" type="text" placeholder="india" name="listing[country]" required class="form-control">
                        <div class="invalid-feedback">country should be valid</div>
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" placeholder="dehli/himachal pardesh" name="listing[location]" required class="form-control">
                    <div class="invalid-feedback">location should be valid</div>
                </div>
                <br><br>
                <button class="btn btn-dark add-btn">add</button>
                <br><br>
            </form>
        </div>
    </div>